<% if notice %>
  <div class="alert alert-primary" role="alert">
    <aside id="notice"><%= notice %></aside>
  </div>
<% end %>

<h1>Order</h1>

<table class="container">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @line_items.each do |line_item| %>
    <tr style="border-bottom: 1px solid black;">
      <td><%= image_tag(line_item.food.photo, height:  '100', width: '100') %></td>
      <td><%= line_item.food.title %></td>
      <td><%= number_to_currency(line_item.price) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<div style="display: inline-block">
  <% if @line_items.length > 0 %>
    <%= link_to 'Regresar', orders_path, :class => 'btn btn-primary' %>
  <% end %>
</div>
