<% if notice %>
  <div class="alert alert-primary" role="alert">
    <aside id="notice"><%= notice %></aside>
  </div>
<% end %>

<h1>Cart</h1>

<table class="container">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @line_items.each do |line_item| %>
    <tr style="border-bottom: 1px solid black;">
      <td><%= image_tag(line_item.food.photo, height:  '100', width: '100') %></td>
      <td><%= line_item.food.title %></td>
      <td><%= number_to_currency(line_item.food.price) %></td>
      <td>
      <%= button_to 'Delete product', delete_line_item_path(line_item_id: line_item.id), :class => 'btn btn-primary' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<div style="display: inline-block">
  <% if @line_items.length > 0 %>
    <%= button_to 'Checkout', cart_checkout_path(cart_id: @line_items.first().cart_id), :class => 'btn btn-primary' %>
  <% end %>
</div>

<div style="display: inline-block">
  <%= link_to 'Continue shopping', store_index_path, :class => 'btn btn-secondary' %>
</div>

